<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Finance Tracker{% endblock %}</title>
</head>

<body>

<nav>
    <a href="/">Home</a>

    {% if user.is_authenticated %}
        <span>Hello {{ user.username }}</span>
        <a href="/accounts/logout/">Logout</a>
    {% else %}
        <a href="/accounts/login/">Login</a>
        <a href="/accounts/register/">Register</a>
    {% endif %}
</nav>


{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}


{% block content %}
{% endblock %}


</body>
</html>